@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.titulo {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

.titulo_1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    padding-bottom: 30px;    
}

.titulo_2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;    
}

.aj{
    padding-left: 25px;
}

.input-container {
    margin-bottom: 10px;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.clearfix::before,
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}


#nav {
    background-color:rgba(1, 16, 82, 0.856);
    backdrop-filter: blur(3px);
    color: white;
}
 

#nav ul li{
    list-style: none;
    float: right;
    display: inline;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    transition: background-color 0.5s ease; 
    border-radius: 5px;
}

.menu {
    position: relative;
    font-size: 18px;
 }

 a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

#nav ul li:hover{
    background-color: rgb(2, 14, 68, 0.856);
    border-radius: 17px;
    padding-right:  25px;
    padding-left: 25px;
    transition: all 0.7s ease-in;
} 

header {
    background-image: url(img/human-head-in-futuristic-artificial-intelligence-design-theme-printed-circuit-board-outline-illustration-for-design-element-modern-technology-networking-with-ai-processor-png.webp);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


.frase{
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 8px;
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
    padding: 25px;
    padding-bottom: 30px;
}

.banner{
    content: "";
    background-image: url(img/fundo1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    background-position: center;
}

#apoiadores{
    padding-bottom: 35px;
    background-color: black;
    color: white;
}
.carousel{
    height: 400px;
}

.carousel img {
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
    object-position: center
}

.banner1{
    content: "";
    background-image: url(img/o-que-e-inteligencia-artificial.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);

}
#jogos {
    background-color:rgba(0, 0, 0, 0.637) ;
    padding: 15px;
    color: white;
}
 
.banner2{
    content: "";
    background-color: black;
    background-image: url(img/cir.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}
img {
    width: 100%
}

.img_jogos {
    width: 290px;
    height: 290px;
    position: relative;
    object-fit: cover;
    border-radius: 60px;
    border: 3px gray;
    padding: 15px;
}
.img_jogos:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

#oficinas{
    background-color:rgba(0, 0, 0, 0.637) ;
    color: white;
}
.img_oficinas{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-top: 15px;
}
   
.color{
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.849);
    padding: 8px;
    padding-left: 1px;;
    padding-right: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    letter-spacing: 3px;
}
#cronograma {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}

#inscrição{
    background-color:  rgba(0, 0, 0, 0.644);
    color: white;
}

.frase1{
    background-color: rgba(1, 16, 82, 0.74);
    border-radius: 8px;
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.botão {
    width: 450px;
    position: relative;
    left: 355px;
    float: calc(700px);
    background-color: black;
    background-position: center;
    border-radius: 20px;
    padding: 20px;
}

.botão:hover {
    background-color: rgb(126, 124, 124);
    transition: all 1.0s ease-in;
}

#fotos{ 
    background-color:rgb(1, 16, 82) ;
    color: white;
    padding-top: 20px;
}

.carousel2{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel2 img {
    height: 500px;
    object-fit: cover;
    object-position: center
}


[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 24.99%;
}

.col-4 {
    width: 33.32%;
}

.col-5 {
    width: 41.65%;
}

.col-6 {
    width: 49.98%;
}

.col-7 {
    width: 58.31%;
}

.col-8 {
    width: 66.64%;
}

.col-9 {
    width: 74.97%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.63%;
}

.col-12 {
    width: 99.96%;
}